/* reset browser styles
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;z-index:-1;
}*/


header{		position : relative;
	background-color: rgba(33, 191, 115);}

nav{
	position : absolute;
	top: 45px; right: 0px;
	top: 60px;
	left: 500px;
}

section {
	background-color: rgb(253, 94, 83);
}
body {
	position: relative;
	max-width: 56em;
	background-color: rgba(255, 255, 199, 1);
	padding: 2em;
	margin: 0 auto;

	box-sizing: border-box;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


	h1, figure, p {
		text-align: center;
		margin: 0 auto;
		margin: 1em auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	body {
		max-width: 1024px;
		margin: 0 auto;
		color: rgb(249, 252, 251);
	}

	header h1 {
		font: 700 72px Titillium, Arial, sans-serif;
		color: rgba(176, 234, 205, 1);
		text-shadow: 0 0 5px white,
		             3px 3px 5px rgba(0,0,0,.5);
	}

	nav ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	nav li {
		display: inline;
	}

	nav a {
		display: inline-block;
		padding: 9px 20px 5px 20px;
		border-radius:20px;
		text-decoration: none;
		font-family: Titillium, Arial, sans-serif;
		font-weight: 700;
		color: white;
		text-shadow: 2px 2px 4px rgba(0,0,0,1);
		text-transform:uppercase;
		font-size: .9em;
		letter-spacing: .1em;
		background-color: rgb(33,191,115);
		background: -webkit-linear-gradient(top, rgb(253, 94, 83),rgba(33,191,115,.5));
		background: -moz-linear-gradient(top, rgb(253, 94, 83),rgba(33,191,115,.5));
		background: -o-linear-gradient(top, rgb(253, 94, 83),rgba(33,191,115,.5));
		background: linear-gradient(top,rgb(253, 94, 83),rgba(33,191,115,.5));
		border: 1px solid rgb(33,191,115);
		margin-right: 5px;
	}

	figcaption strong {
		font-weight: 700;
		display: block;
	}

	footer {
		font-family: Titillium, Arial, sans-serif;
		font-weight: 700;
		color: white;
		background-color: rgba(33, 191, 115, 1);
		margin: 0 auto;
		max-width: 1024px;
	}

.csharp{
position: absolute;
top: -30px;
left: -100px;

}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 80%; /* Full width */
  padding: 20px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgba(33, 191, 115, 1);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgba(33, 191, 115, 1);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
	text-align: center;
  background-color: rgb(253, 94, 83);
  padding: 20px;
}

.gallery figure>img{
    background-color: #FFF;
    padding: 4px;
    border: 1px #666 solid;
    box-shadow: 4px 2px 2px #999;
}
.gallery figure{
    display: inline-block;
    vertical-align: top;
    width: 210px;
    margin: 0 10px 10px 10px;
}
.gallery figcaption{
    font-size: 110%;
    font-family: 'Arial','Helvetica',sans-serif;
    margin: 10px 0 0 0;
}
.content {
    margin-left: 15px;
    margin-top: 15px;
    border: 1px dashed #999;
		text-align: center;
    border-right: none;
    border-bottom: none;
}
table{
    width : 80%;
    border-spacing:0 0;

    border: 5px solid rgba(255, 255, 199, 1);
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border: 2px solid green;
    padding: 100px;
}
tfoot > table >tr:last-child td:first-child{
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
 td{
    border-right: 1px solid black;
    padding: 10px;
    width: 20%;
}
th{
    font-weight: bold;
    border:1px solid black;
    align-items: center;
    border: none;
}
thead>tr>:nth-child(1n+1){
    color:white;
    width:auto;
    text-align:center;
    background-color: rgba(33, 191, 115, 1);
    text-transform: uppercase;
}
tbody>tr:nth-child(odd) {
    background-color: #9fe6a0;
    }
tbody>tr:nth-child(even) {
        background-color: rgba(33, 191, 115, 1);
}
tbody,tfoot > tr {
    text-align: right;
}
tfoot > tr {
    border-top: 1px solid black;
}
td.intitule{
    text-align: left;
    width: 40%;
}



figcaption.gallery:hover{position : absolute;top:15%;bottom:15%;left: 0;right: 0;background-color: rgba(153,153,153,.85);
	padding: 20px; font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: .9em;
	color: white;
	opacity: 1;
	-webkit-transition: opacity .75s ease-out;
-moz-transition: opacity .75s ease-out;
-o-transition: opacity .75s ease-out;
transition: opacity .75s ease-out;

}

figcaption.gallery{position : absolute;top:15%;bottom:15%;left: 0;right: 0;background-color: rgba(153,153,153,.85);
	padding: 20px; font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: .9em;
	color: white;
	opacity: 0;
	-webkit-transition: opacity .75s ease-out;
-moz-transition: opacity .75s ease-out;
-o-transition: opacity .75s ease-out;
transition: opacity .75s ease-out;

}
